@model PurchaseOrderViewModel

@{
	ViewBag.MetaTitle = @Html.StringResource("page.title.purchaseorder");
}

<div class="row">
	<div class="col-sm-6 col-lg-4">
		@{
			using(Html.BeginForm(
				actionName: ActionNames.PurchaseOrder,
				controllerName: ControllerNames.CheckoutPurchaseOrder,
				method: FormMethod.Post,
				htmlAttributes: new { @class = "form purchase-order-form" }))
			{

				@Html.EditorEntryFor(
					expression: m => m.PONumber)

				<div>
					<button type="submit" class="btn btn-primary purchase-order-submit">@Html.StringResource("common.cs.61")</button>
					<a href="@Url.Action(ActionNames.Index, ControllerNames.Checkout)" class="btn btn-default purchase-order-cancel">@Html.StringResource("Global.CancelButtonText")</a>
				</div>
			}
		}
	</div>
</div>
