@model TopicViewModel

@{
	Layout = ViewEngines.Engines.FindViewPath(ViewContext.Controller.ControllerContext, "_PopupLayout");
}

@{
	// Override default meta tags
	ViewBag.MetaTitle = Model.MetaTitle;
	ViewBag.MetaDescription = Model.MetaDescription;
	ViewBag.MetaKeywords = Model.MetaKeywords;
}

<div class="container-fluid">
	<div class="page-wrap no-template-content topic-page">
		<!--Topic '@Model.Name' from @Model.ReadFromLocation -->
		@Html.Raw(@Model.PageContent)
		<!--End of topic '@Model.Name' from @Model.ReadFromLocation -->
	</div>
</div>
