@model OrderOptionItemViewModel

<div class="cart-order-option media">
	<div class="media-left">
		@Html.HiddenFor(m => m.OrderOptionGuid)
		@Html.EditorFor(m => m.Checked,
			additionalViewData: new
			{
				htmlAttributes = new
				{
					aria_describedby = "item-reader-only-" + @Html.IdFor(m => m.Checked) + " item-cost-" + @Html.IdFor(m => m.Checked)
				}
			})
		<span id="item-reader-only-@Html.IdFor(m => m.Checked)" class="screen-reader-only">@Model.Description</span>
	</div>
	@if(Model.HasImage)
	{
		<div class="media-left">
			<img alt="" class="media-object cart-upsell-image" src="@Model.ImageUrl" />
		</div>
	}
	<div class="media-body">
		<div class="cart-order-option-name">
			@Html.LabelFor(m => m.Checked, @Model.Name)
			<span title="@Model.Description" data-toggle="tooltip" data-placement="top" class="fa fa-question-circle" tabindex="0"></span>
		</div>

	</div>
	<div class="media-right">
		<div id="item-cost-@Html.IdFor(m => m.Checked)" class="order-option-cost">
			@Model.Cost
		</div>
	</div>
</div>

@Html.RegisterInlineScript(
	@<script>
		(function ($) {
			$(document).ready(function () {
				$('[data-toggle="tooltip"]').tooltip()
			});
		})(adnsf$)
	</script>,
	dependencies: new[]
	{
		ScriptPaths.JQuery.AdnsfAlias,
	})
